@use 'variables' as var;

// Breakpoints
// Extra Small: < 576px (Phones)
// Small: > 576px (Portrait Tablets)
// Medium: > 768px (Landscape Tablets)
// Large: > 992px (Laptops)
// Extra Large/XXL: > 1200px/1400px (Desktops)

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p, a, li
{
  font-family: var.$font-body;
}

h1, h2, h3, h4, h5
{
  font-family: var.$font-heading;
}